services:
  lexicraft.apigateway:
    image: lexicraft.apigateway
    build:
      context: .
      dockerfile: ApiGateway/Dockerfile
    container_name: lexicraft-apigateway
    ports:
      - "5000:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: "Docker"
    restart: unless-stopped
    networks:
      - lexicraft-net

  files-grpc:
    image: lexicraft.files.grpc
    build:
      context: .
      dockerfile: microservices/Files/Dockerfile
    container_name: lexicraft-files-grpc
    environment:
      ASPNETCORE_ENVIRONMENT: "Docker"
    restart: unless-stopped
    networks:
      - lexicraft-net

  identity-api:
    image: lexicraft.services.identity.api
    build:
      context: .
      dockerfile: microservices/Identity/Dockerfile
    container_name: lexicraft-identity-api
    environment:
      ASPNETCORE_ENVIRONMENT: "Docker"
    restart: unless-stopped
    networks:
      - lexicraft-net

  lexicraft.services.vocabulary.api:
    image: lexicraft.services.vocabulary.api
    build:
      context: .
      dockerfile: microservices/Vocabulary/Dockerfile
    container_name: lexicraft-vocabulary-api
    environment:
      ASPNETCORE_ENVIRONMENT: "Docker"
    restart: unless-stopped
    networks:
      - lexicraft-net

  practice-api:
    image: lexicraft.services.practice.api
    build:
      context: .
      dockerfile: microservices/Practice/Dockerfile
    container_name: lexicraft-practice-api
    environment:
      ASPNETCORE_ENVIRONMENT: "Docker"
    restart: unless-stopped
    networks:
      - lexicraft-net

networks:
  lexicraft-net:
    driver: bridge

