services:
  lexicraft.apigateway:
    image: lexicraft.apigateway
    build:
      context: .
      dockerfile: ApiGateway/Dockerfile
    ports:
      - "${APIGATEWAY_PORT:-5000}:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: "Docker"
      AgileConfig__Nodes: "http://172.144.21.1:8500"
      AgileConfig__AppId: "api-gateway"
      AgileConfig__Secret: "bb123456"
      AgileConfig__ENV: "TEST"
    restart: unless-stopped
    depends_on:
      - files-grpc
      - identity-api
      - vocabulary-api
      - practice-api
    networks:
      - lexicraft-net

  files-grpc:
    image: lexicraft.files.grpc
    build:
      context: .
      dockerfile: microservices/Files/Dockerfile
    environment:
      ASPNETCORE_ENVIRONMENT: "Docker"
      AgileConfig__Nodes: "http://172.144.21.1:8500"
      AgileConfig__AppId: "files-grpc"
      AgileConfig__Secret: "bb123456"
      AgileConfig__ENV: "TEST"
    restart: unless-stopped
    networks:
      - lexicraft-net

  identity-api:
    image: lexicraft.services.identity.api
    build:
      context: .
      dockerfile: microservices/Identity/Dockerfile
    environment:
      ASPNETCORE_ENVIRONMENT: "Docker"
      AgileConfig__Nodes: "http://172.144.21.1:8500"
      AgileConfig__AppId: "identity-api"
      AgileConfig__Secret: "bb123456"
      AgileConfig__ENV: "TEST"
    restart: unless-stopped
    networks:
      - lexicraft-net

  vocabulary-api:
    image: lexicraft.services.vocabulary.api
    build:
      context: .
      dockerfile: microservices/Vocabulary/Dockerfile
    environment:
      ASPNETCORE_ENVIRONMENT: "Docker"
      AgileConfig__Nodes: "http://172.144.21.1:8500"
      AgileConfig__AppId: "vocabulary-api"
      AgileConfig__Secret: "bb123456"
      AgileConfig__ENV: "TEST"
    restart: unless-stopped
    networks:
      - lexicraft-net

  practice-api:
    image: lexicraft.services.practice.api
    build:
      context: .
      dockerfile: microservices/Practice/Dockerfile
    environment:
      ASPNETCORE_ENVIRONMENT: "Docker"
      AgileConfig__Nodes: "http://172.144.21.1:8500"
      AgileConfig__AppId: "practice-api"
      AgileConfig__Secret: "bb123456"
      AgileConfig__ENV: "TEST"
    restart: unless-stopped
    networks:
      - lexicraft-net

networks:
  lexicraft-net:
    driver: bridge
