services:
  lexicraft.apigateway:
    image: lexicraft.apigateway
    build:
      context: .
      dockerfile: ApiGateway/Dockerfile

  files-grpc:
    image: lexicraft.files.grpc
    build:
      context: .
      dockerfile: microservices/Files/Dockerfile

  identity-api:
    image: lexicraft.services.identity.api
    build:
      context: .
      dockerfile: microservices/Identity/Dockerfile

  lexicraft.services.vocabulary.api:
    image: lexicraft.services.vocabulary.api
    build:
      context: .
      dockerfile: microservices/Vocabulary/Dockerfile

